body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("../assets/WallpaperR.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.registration-container {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
}

.registration-container input[type="text"],
.registration-container input[type="email"],
.registration-container input[type="password"],
.registration-container input[type="tel"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
    
.registration-container input[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.select-container{
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 50px;
}

.select-box{
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    color:white;
    background-color: #001a4a;
}

#italic{
    font-style: italic;
}